/* Styles for contact form submission page */
@import url(https://fonts.googleapis.com/css?family=Raleway&display=swap);

* {
  margin: 0;
  padding: 0;
  sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2F2F2F;
  color: white;
}

.message-container {
  background-color: #555;
  padding: 5em;
}

.message {
  margin-bottom: 1em;
}

a {
  color: #b3d9ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  transition: 250ms;
}
