/*** Parameters ***/

// Colors
$color-primary: #4da6ff;
$color-primary-dark: #0066cc;
$color-primary-light: #6bb3fa;

$color-secondary: #ff914d;
$color-secondary-dark: #e65800;
$color-secondary-light: #ffd1b3;

$color-text: #999;

$light-background: #E6E6E6;
$dark-background: #2F2F2F;

// Font Size


// Spacing


// Media Queries


// Font Family
