/* Contains all variables */
:root {
  --text-light: #E6E6E6;
  --text-dark: #999;

  /* Light Blue */
  --primary-color: #4da6ff;
  --primary-color-dark: #06c;
  --primary-color-light: #b3d9ff;

  /* Orange */
  --secondary-color: #ff914d;
  --secondary-color-light: #ffc099;
  --secondary-color-dark: #e65800;

  --background-dark: #2F2F2F;
  --background-light: #555;

  --error: #ff8080;

  --code-comment: #d1d1d1;
  --code-yellow: #faf27f;
  --code-blue: #b3d9ff;
  --code-purple: #da9eff;
  --code-green: #b0e8b4;
}
