/* Styles for form form-to-email.php */
@import 'global.css';

body, html {
  height: 100%;
}

body {
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  font-size: 3em;
}

.main {
  height: 100%;
  background-color: var(--background-dark);
  color: white;
  justify-content: center;
}

.message-container {
  background-color: var(--background-light);
  padding: 5em;
}

.message {
  margin-bottom: 1em;
}
